---
import Button from "../ui/button.astro";
import Card from "../ui/card.astro";

interface Service {
  icon: string;
  title: string;
  description: string;
}

interface Offer {
  title: string;
  icon: string;
}

const services: Service[] = [
  {
    icon: "heart",
    title: "Wegbegleiter & Herzenslehrer",
    description: "u.a. Coaches, Tanzlehrer, Bewegungstrainer, Berater & Therapeuten",
  },
  {
    icon: "leaf",
    title: "Naturliebhaber & Tierversteher",
    description: "u.a. Hundetrainer, Tierbetreuung, Naturpädagogik & Erlebnisanbieter",
  },
];

const offers: Offer[] = [
  { icon: "globe-simple", title: "Website & Onepager" },
  { icon: "share-network", title: "Werbeanzeigen & Social Media" },
  { icon: "file-text", title: "Landingpages & Salespages" },
  { icon: "envelope-simple", title: "Newsletter & E-Mail-Marketing" },
];
---

<section class="px-6 py-24" id="cta">
  <div class="mx-auto max-w-6xl flex flex-col gap-12">
    <div class="space-y-4 flex flex-col gap-6">
      <span class="font-hand my-0 text-primary text-xl text-center md:text-2xl"
        >Weil ich die Kleinen großschreiben möchte</span
      >
      <h2 class="font-heading text-foreground text-4xl text-center font-bold md:text-5xl">
        Angebote und Dienstleistungen
      </h2>

      <p class="mx-auto my-0 text-lg text-muted-foreground md:text-center">
        Ich arbeite besonders gern mit kleinen Unternehmen und (Solo-)Selbstständigen zusammen, die andere bewegen
        wollen. Mit Menschen, die ihre Dienstleistung nicht einfach nur als „Verkauf“ ansehen. Manche
        <span class="font-bold">Arbeit funktioniert nur mit Vertrauen und Beziehung</span>. Conversion Copywriting
        eignet sich daher besonders für
      </p>
    </div>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col md:flex-row gap-8 self-center">
        {
          services.map((service) => (
            <Card class="max-w-4xl">
              <div class="text-start">
                <div class="w-14 h-14 rounded-2xl flex items-center justify-center mb-6 transition-transform group-hover:scale-110 bg-primary/30">
                  <i class={`ph ph-${service.icon} text-3xl text-accent`} />
                </div>

                <p class="text-2xl font-bold leading-none tracking-[-0.03em]">{service.title}</p>
                <p class="mt-4 text-sm">{service.description}</p>

                <div class="mt-6 h-1 w-16 rounded-full group-hover:w-24 transition-all duration-300 bg-accent/50" />
              </div>
            </Card>
          ))
        }
      </div>

      <p class="text-lg text-muted-foreground text-center">
        … aber auch andere Businessprojekte, die ihren Fokus auf Miteinander und gemeinsame Erfolgsprozesse legen.
      </p>
    </div>

    <div class="flex flex-col gap-6">
      <p class="text-xl text-center font-bold">In folgenden Bereichen kann ich dich unterstützen:</p>

      <div class="grid sm:grid-cols-2 gap-4">
        {
          offers.map((offer) => (
            <div class="flex items-center gap-4 p-5 rounded-xl bg-accent/7 hover:shadow-md transition-colors duration-200">
              <div class="w-10 h-10 rounded-lg bg-white flex items-center justify-center shrink-0 border border-white/50">
                <i class={`ph ph-${offer.icon} text-accent text-xl`} />
              </div>
              <p class="text-md mb-1 font-semibold">{offer.title}</p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <p class="text-lg text-muted-foreground text-center">
        Du willst mehr über Copywriting erfahren oder durch meine Angebote stöbern? Klick dich durch:
      </p>

      <div class="flex justify-center">
        <Button href="/angebote" title="Näheres zu meinen Angeboten" class="px-8 py-2 text-md md:text-lg"
          >Näheres zu meinen Angeboten
        </Button>
      </div>
    </div>
  </div>
</section>
