---
import "../styles/global.css";
import { SEO } from "astro-seo";
import logo from "../assets/logo.png";
import { Font } from "astro:assets";

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const {
  title = "Buchstabenfeder - Copywriting by Sina",
  description = "Find your zen with cat-inspired meditation. Guided breathing exercises, mindfulness sessions, and feline wisdom to help you relax.",
  noindex = false,
} = Astro.props as Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#c98e52" />
    <meta name="generator" content={Astro.generator} />
    {noindex && <meta name="robots" content="noindex, nofollow" />}

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>

    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" />
    <Font cssVariable="--font-hand" />
    <Font cssVariable="--font-quote" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Phosphor Icons -->
    <link
      rel="stylesheet"
      type="text/css"
      rel="preconnect"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css"
    />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          type: "website",
          url: Astro.url,
          title,
          image: new URL(logo.src, Astro.url).href,
        },
        optional: {
          description,
          locale: "de_DE",
        },
        image: {
          url: new URL(logo.src, Astro.url).href,
          width: logo.width,
          height: logo.height,
          alt: title,
          type: logo.format ? `image/${logo.format}` : undefined,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        description,
        image: new URL(logo.src, Astro.url).href,
      }}
    />

    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebApplication",
        name: "Purrfectly Zen",
        description: description,
        applicationCategory: "Agency",
        operatingSystem: "Web",
      })}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
