---
import "../styles/global.css";
import { SEO } from "astro-seo";
import logo from "../assets/logo.webp";
import { Font } from "astro:assets";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Buchstabenfeder by Sina Weichlein | Copywriting für Arbeit mit Mensch oder Tier",
  description = "Als Werbetexterin für Dienstleistungen in der Arbeit mit Menschen oder Tieren übersetze ich dein Angebot in eine Sprache, die deine Zielgruppe versteht.",
} = Astro.props as Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#c98e52" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          type: "website",
          url: Astro.url,
          title,
          image: new URL(logo.src, Astro.url).href,
        },
        optional: {
          description,
          locale: "de_DE",
        },
        image: {
          url: new URL(logo.src, Astro.url).href,
          width: logo.width,
          height: logo.height,
          alt: title,
          type: logo.format ? `image/${logo.format}` : undefined,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        description,
        image: new URL(logo.src, Astro.url).href,
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />

    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" />
    <Font cssVariable="--font-hand" />
    <Font cssVariable="--font-quote" />

    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebApplication",
        name: "Buchstabenfeder by Sina Weichlein | Copywriting für Arbeit mit Mensch oder Tier",
        description: description,
        applicationCategory: "Agency",
        operatingSystem: "Web",
      })}
    />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
