---
import { cn } from "@lib/utils";

interface Props {
  class?: string;
  href?: string;
  external?: boolean;
  title?: string;
}

const { class: className, href, title, external } = Astro.props as Props;

const classes = cn(
  "cursor-pointer rounded-sm bg-accent px-6 py-2 lg:px-8 font-bold text-background text-sm text-center shadow-md transition-colors hover:bg-accent/90",
  className,
);
---

{
  href ? (
    <a href={href} class={classes} title={title} target={external ? "_blank" : undefined} rel={external ? "noopener noreferrer" : undefined}>
      <slot />
    </a>
  ) : (
    <button class={classes} title={title}>
      <slot />
    </button>
  )
}
